@import url('https://fonts.googleapis.com/css2?family=Borel&family=Bree+Serif&family=PT+Serif&display=swap');

:root {
--bred: #d0b3b3ff;
--bgreen: #b4d0b3ff;
--bblue: #b3bcd0ff;
--byellow: #d0d0b3ff;
--tred: #472a2aff;
--tgreen: #2a472a;
--tblue: #2a3347ff;
--tyellow: #47472aff;
--dpurple: #644e7e;
--ppurple: #494351;
--ptpurple: #19171c;
--bpurple: #c0b3d0ff;
--tpurple: #372a47ff;
--shadow: 0 8px 2px 2px rgba(0, 0, 0, 0.16);
}


* {
    font-family: 'Bree Serif', serif;
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
}

h1 {
    margin: 0;
    font-family: 'Bree Serif', serif;
    color: var(--tpurple);
}

p {
    font-weight: 300;
    font-family: 'Bree Serif', serif;
}

header {
    position: fixed;
    box-shadow: var(--shadow);
    width: 100%;
    display: flex;
    flex-direction: row;
    font-weight: 300;
    background-color: var(--bpurple);
    padding: 15px;
    justify-content: center;
    border-bottom: 5px solid var(--tpurple);
}

header h1 {
    padding-right: 40px;
    border-right: 5px solid var(--tpurple);
}

header ul {
    display: flex;
    gap: 40px;
    list-style-type: none;
    margin-left: 40px;

}

header li a {
    text-decoration: none;
    font-size: 1.2rem;
   font-family: 'Bree Serif', serif;
   color: var(--purple);
}

header li {
    align-self: center;
    text-decoration: none;
}

header li :hover {
    text-decoration: underline;
    color: var(--dpurple);
}

.content {
    padding: 74px 50px;
    background-color: var(--background);
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 28%;
    color: #1e2d2fe8;
    border-radius: 5px;
    box-shadow: var(--shadow);
    text-align: center;
    padding: 20px;
    min-width: 280px;
    min-height:180px;
    list-style-position: ;
  
}

.card h2 {
    font-size: 1.5em;
}

button {
    width: 50%;
    background-color: gray;
    color: white;
    padding: 12px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    background-color: var(--ppurple);
    color: #f0e5ff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding: 15px;
    border-top: 5px solid var(--ptpurple);
}

footer a {
    color: #f0e5ff;
}

footer div {
    margin: 20px;
}

@media screen and (max-width: 800px) {
    footer {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 750px) {
    footer {
        grid-template-columns: 1fr;
    }
    header {
        flex-direction: column;
    }
    header * {
        margin: 0 auto;
        text-align: center;
        padding: 0;
    }
    header h1 {
        border: none;
        padding: 0;
    }
    header ul {
        margin: 0 auto;
    }
    .content {
        flex-direction: column;
        margin: 0 auto;
        padding: 20px 0;
    }
    #homepage_fruit {
        margin-top: 100px;
    }
    .info {
        margin-top: 11px;
    }
    .business_information {
        grid-row: 3;
    }
}
ul {
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
  list-style-image: url('sqpurple.gif');
}
.fun {
font-family: 'Borel', cursive;
}

.red {
  background-color: var(--bred);
  border: 5px solid var(--tred);
}

.green {
  background-color: var(--bgreen);
  border: 5px solid var(--tgreen);
}

.blue {
  background-color: var(--bblue);
  border: 5px solid var(--tblue);
}

.yellow{
  background-color: var(--byellow);
  border: 5px solid var(--tyellow)background;
}

.textred {
  color: var(--tred);
}

.textgreen {
  color: var(--tgreen);
}

.textblue {
  color: var(--tblue);
}

.textyellow {
  color: var(--tyellow);
}

img {
  border-radius: 5px;
  max-height: 150px;
}